<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bastlast.progressbar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".Level8"></activity>
        <activity android:name="com.example.progressbar.Level8" />
        <activity
            android:name=".Level7"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Level6"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Level5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Level4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Level3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Level2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Level1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Splasscreen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>